html, body {
  background-color: #121212;
  color: #EEE;
  font-family: 'Sarabun', sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 12px;
}

.centerContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.droparea>div {
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  padding: 3em 5em;
  border-radius: 5px;
  display: flex;
}
.droparea>div>* {
  display: inline-block;
  line-height: 46px;
  height: 46px;
}
.spinnerCon {
  margin-right: 3em;
}

.topbar {
  background-color: rgba(255, 255, 255, 0.05);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.topbar>div {
  display: inline-block;
  padding: 1em 1.5em;
}

.topbar>div>button,
.topbar>div>input {
  line-height: 1.5em;
  vertical-align: middle;
  padding: 0.5em 1em;
  margin-right: 0.5em;
  box-sizing: border-box;
  width: 4em;
  color: #FFFFFF;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid black;
}
.topbar>div>button:focus,
.topbar>div>input:focus {
  outline: 1px solid rgba(255, 255, 255, 0.5);
}
.topbar>div>input {
  width: 7em;
}
.topbar>div>button.active {
  background-color: rgba(255, 255, 255, 0.3);
}

#searchInp {
  width: 10em;
  transition: width 300ms ease-in-out;
}
#searchInp:focus {
  width: 20em;
}
.topbar>div>input[type="checkbox"] {
  width: auto;
  margin-right: 0;
}


table {
  border-collapse: collapse;
  width: 100%;
}
th {
  text-align: left;
  vertical-align: top;
  background-color: rgba(255, 255, 255, 0.2);
}
th, td {
  padding: 1em;
  text-align: left;
  overflow-x: auto;
}
tr {
  background-color: rgba(255, 255, 255, 0.08);
}
tr:nth-child(even) {
  background-color: rgba(255, 255, 255, 0.12);
}
tbody>tr:hover,
th:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

tr.isMissing>td.translationTr {
  background-color: rgba(255, 80, 90, 0.08);
}

tr.isMissing:nth-child(even)>td.translationTr {
  background-color: rgba(255, 80, 90, 0.12);
}

tbody>tr.isMissing>td.translationTr:hover {
  background-color: rgba(255, 80, 90, 0.3);
}